-c constraints.txt
streamlit==1.49.1
pillow==11.3.0
torch==2.8.0
torchvision==0.23.0
facenet-pytorch==2.5.3
retina-face
opencv-python-headless
numpy
st-annotated-text==4.0.2
tensorflow==2.17.1

















